﻿@model KeepAlive.Site.Models.WebsiteModel
@using (Html.BeginForm(actionName: "NewWebsite", controllerName: "Home"))
{
    <fieldset class="innerElement ">
        <legend>New Site</legend>
    
        @Html.LabelFor(x => x.Name):<br/>
        @Html.TextBoxFor(x => x.Name)<br/>
        @Html.ValidationMessageFor(x => x.Name)

        @Html.LabelFor(x => x.Url):<br/>
        @Html.TextBoxFor(x => x.Url)<br/>
        @Html.ValidationMessageFor(x => x.Url)

        <button type="submit">Add Website</button>
    </fieldset>
    
}