﻿@model List<KeepAlive.Domain.Entities.Website>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>Devious Creation - Keep Alive</title>
        <link type="text/css" rel="stylesheet" href="/_/css/normalize.css"/>
        <link type="text/css" rel="stylesheet" href="/_/css/site.css"/>
    </head>
    <body>
        <div class="outerElement">
            @Html.Action("NewWebsite")
        </div>
        <br class="clear"/>
        <div class="outerElement">
            <div class="innerElement">
            @if (Model != null)
            {
                <table>
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Url</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var website in Model)
                        {
                            <tr>
                                <td>@website.Name</td>
                                <td><a href="@website.Url" target="_blank">@website.Url</a></td>
                                <td>@using(Html.BeginForm(actionName:"Delete", controllerName:"Home", routeValues: new {id = @website.Id})){<button type="submit" class="fakeLink">Delete</button>}</td>
                            </tr>
                        }    
                    </tbody>
                </table>
            }
                </div>
        </div>
    </body>
</html>
