﻿html {
    overflow-x: hidden;
}
fieldset {
    display: inline-block;
    margin-bottom: 20px;
}

.outerElement {
        display: -moz-inline-stack;
        display: inline-block;
        vertical-align: middle;
        zoom: 1;
        position: relative;
        left: 50%;
    }

.innerElement {
    position: relative;
    left: -50%;
}
.clear {
    clear: both;
}
table {
    
}
table th {
    padding: 3px;
    font-weight: normal;
    background-image: linear-gradient(bottom, rgb(255,255,255) 15%, rgb(194,194,194) 62%);
    background-image: -o-linear-gradient(bottom, rgb(255,255,255) 15%, rgb(194,194,194) 62%);
    background-image: -moz-linear-gradient(bottom, rgb(255,255,255) 15%, rgb(194,194,194) 62%);
    background-image: -webkit-linear-gradient(bottom, rgb(255,255,255) 15%, rgb(194,194,194) 62%);
    background-image: -ms-linear-gradient(bottom, rgb(255,255,255) 15%, rgb(194,194,194) 62%);
    
    background-image: -webkit-gradient(
    	linear,
    	left bottom,
    	left top,
	    color-stop(0.15, rgb(255,255,255)),
	    color-stop(0.62, rgb(194,194,194))
    );
    border-right: 1px solid #fff;
}
table th:last-child {
    border-right: none;
}
table td {
    border-right: 1px solid #c2c2c2;
    padding: 3px;
    margin-bottom:3px;
}
table tr:nth-child(even) td {
    background-color: #efefef;
    border-right-color: #fff;
}
table td:last-child {
    border-right: none;
}
.fakeLink {
    border: none;
    background: none;
    font-style: italic;
}
